.content {
    padding-top: 5px;
}

.row {
    display: inline-flex;
    gap: 5px;

    mat-form-field {
        width: 90%;
    }
}

.action {
    padding: 0px 25px 20px;
    display: flex;

    button {
        flex: 1;
    }
}